body {
    margin: 3rem;
    background-color: #C2FF85;
    font-family: 'Roboto', monospace, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    /* stylelint-disable-next-line unit-allowed-list */
    max-width: 100%;
    /* stylelint-disable-next-line unit-allowed-list */
    max-height: 100%;
    width: auto;
    height: auto;
    padding-bottom: 1rem;
}

nav ul {
    list-style: none;
    /* stylelint-disable-next-line unit-allowed-list */
    max-width:100%;
    /* stylelint-disable-next-line unit-allowed-list */
    max-height:100%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    border-color: black;
    background-color: #F6B860;
    border-style: solid;
    margin: 1rem;
    padding: 1rem 15rem 1rem 1rem;
    border-radius: 1rem;
}

nav li a {
    color: #040404;
    text-decoration: solid underline;
    font-size: 1rem;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: #F6B860;
    border: #000000 solid .25rem;
    padding: 2rem;
    border-radius: 1rem;
    /* stylelint-disable-next-line unit-allowed-list */
    max-width:100%;
    /* stylelint-disable-next-line unit-allowed-list */
    max-height:100%;
    width: auto;
    height: auto;
    margin: 1rem;
}


footer {
    display: flex;
    align-items: center;
    margin: 1rem;
}

footer img {
    display: block;
    width: 3rem;
    height: auto;
}

footer > div {
    margin-right: 2rem
}
