body {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #C2FF85;
    font-family: 'Roboto', monospace, sans-serif;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:80%;
    max-height:80%;
    width: auto;
    height: auto;
    padding-bottom: 1rem;
}

nav ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}

nav li {
    display: inline-block;
    border-color: black;
    background-color: #F6B860;
    border-style: solid;
    margin: 1rem;
    padding: 1rem 15rem 1rem 1rem;
}

nav li a {
    color: rgb(4, 4, 4);
    text-decoration: solid underline;
    font-size: 1rem;
}

section {
    display: flex;
}

article {
    flex: 1;
}

.primary {
    display: flex;
    width: 60rem;
    flex-direction: column;
}

.primary p {
    width: 80rem;
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
}

footer img {
    display: block;
    width: 3rem;
    height: auto;
}
