/* stylelint-disable % */
/* stylelint-disable unit-allowed-list */
body {
    margin: 3rem;
    background-color: #C2FF85;
    font-family: 'Roboto', monospace, sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0%;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    padding-bottom: 1rem;
}

nav ul {
    list-style: none;
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    border-color: #000000;
    background-image: url(images/lemons.jpg);
    border-style: solid;
    margin: 1rem;
    padding: 1rem 15rem 1rem 1rem;
    border-radius: 1rem;

}

nav li:hover{
    transform: rotateY(360deg);
    transition: 3s;
}

nav li a {
    color: #040404;
    text-decoration: underline;
    font-weight: 900;
    font-size: 1rem;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-article {
    background-image: url(images/italianfood.jpg);
    background-position: center;
}

p {
    text-align: justify;
}

.main-article p {
    border-color: #000000;
    background-color: #F6B860;
    border-style: solid;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    max-width: 75%;
}

article {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F6B860;
    border: #000000 solid 0.25rem;
    padding: 2rem;
    border-radius: 1rem;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
    margin: 1rem;
}

.article-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 1rem;
}

@keyframes italian {
    0%   {background-color: #008C45;}
    50%  {background-color: #F4F9FF;}
    100% {background-color: #CD212A;}
}

#italian:hover {
    animation-name: italian;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes turkish {
    0%   {background-image: url(images/turkishflag);}
    100% {background-image: url(images/turkishflag);}
}

#turkish:hover {
    animation-name: turkish;
    animation-duration: 10s;
    animation-timing-function: ease;
}

@keyframes greek {
    0%   {background-image: url(images/Flag_of_Greece.svg.png);}
    100% {background-image: url(images/Flag_of_Greece.svg.png);}
}

#greek:hover {
    animation-name: greek;
    animation-timing-function: ease;
    animation-duration: 10s;
}

footer {
    display: flex;
    align-items: center;
    margin: 1rem;
}

footer img {
    display: block;
    width: 3rem;
    height: auto;
}

footer > div {
    margin-right: 2rem
}



